<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %> 

        <div class="not-found content">
            <h2>not found</h2>
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>