<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %> 

        <div class="about content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, debitis illum! Repellendus ullam quasi, dolorem, in veniam laborum minima itaque voluptas pariatur hic maxime. Praesentium placeat veritatis tenetur totam recusandae!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, debitis illum! Repellendus ullam quasi, dolorem, in veniam laborum minima itaque voluptas pariatur hic maxime. Praesentium placeat veritatis tenetur totam recusandae!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, debitis illum! Repellendus ullam quasi, dolorem, in veniam laborum minima itaque voluptas pariatur hic maxime. Praesentium placeat veritatis tenetur totam recusandae!</p>

        </div>
        <%- include('./partials/footer.ejs') %>

    </body>
</html>